@font-face {
  font-family: 'BungeeShade-Regular';
  src: url('../BungeeShade-Regular.ttf') format('truetype');
  /* 他のフォーマットにも対応したい場合は、適切な `format()` を追加します */
}

@font-face {
  font-family:'KosugiMaru-Regular' ;
  src: url('../KosugiMaru-Regular.ttf') format('truetype');
}
@keyframes moveIcon {
  0% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

@keyframes SimpleZoom {
  0% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}


  @keyframes slow-bounce {
      0%, 100% { transform: translate(-50%,-45%) }
      50% { transform: translate(-50%,-55%) }
    }

  /* @keyframes centered {
    motion-safe:animate-bounce;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);} */

  
  
