@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(45deg, #278ebe, #c67774);
  background-size: 400% 400%;
  animation: GradientBackground 8s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
